---
---

<section id="FAQs">
    <div class="wrapper">
        <h2>Details and FAQ</h2>
        <div class="faq-list">
            <div class="two-side-grid">
                <h3>Where are the images for the punks stored?</h3>
                <p>
                    When originally released, the actual images of the punks
                    were too large to store on the blockchain, so we took a hash
                    of the composite image of all the punks and embeded it into
                    the contract. You can verify that the punks being managed by
                    the Ethereum contract are the True Official Genuine
                    CryptoPunks™ by calculating an SHA256 hash on the
                    cryptopunks image and comparing it to the hash stored in the
                    contract.Since then, due to some clever compression ideas
                    and some help from friends of the punks we have managed to
                    put the entire image and attribute data fully on chain. You
                    can read more about the mechanisms and details of the
                    process in the announcement blog post.
                </p>
            </div>
            <div class="two-side-flex">
                <h3>Are the punks an ERC-721 token?</h3>
                <p>
                    No. The CryptoPunks pre-date the ERC-721 standard and are a
                    custom contract, that means it doesn't comply with any
                    standards. They are almost an ERC20 token. We support the
                    methods that provide your balance so you can watch
                    CryptoPunks as a token in your wallet and see how many you
                    own. None of the other methods are the same since you're not
                    transferring a simple balance, but need to reference which
                    specific Punk you want to work with.
                </p>
            </div>
            <div class="two-side-grid">
                <h3>Where does the market data on this site come from?</h3>
                <p>
                    The prices, bids and sales you see on this site are loaded
                    from the Cryptopunks contract on the Ethereum blockchain.
                    Because the Cryptopunks pre-date the ERC-721 standard (and
                    all third party NFT marketplaces) we also needed to write a
                    market so the punks could be transacted. We have no control
                    over the contract governing this market, and have no access
                    to any additional data beyond what the blockchain provides.
                    In fact anyone else could write a web front end for it.
                </p>
            </div>
            <div class="two-side-grid">
                <h3>Do you charge any fees for transactions?</h3>
                <p>
                    No. We charge no fees for Cryptopunks transacted through the
                    built-in market beyond the ones charged by Ethereum
                    (gas).The contract source and more technical details are
                    available on Github.
                </p>
            </div>
        </div>
    </div>
</section>
<style>
    section {
        background: var(--bg);
        font-size: var(--font);
        padding: 60px 0px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    h2 {
        color: white;
        font-size: 54px;
        font-style: normal;
        font-weight: 500;
        line-height: 67px;
        letter-spacing: -2px;
        font-family: var(--font);
    }
    .faq-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .faq-list div {
        border-top: solid 1px var(--gray);
        padding-top: 28px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .faq-list div h3 {
        font-family: var(--font);
        color: white;
        font-size: 21px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
    }
    .faq-list div p {
        font-family: var(--font);
        color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        font-family: var(--font);
        font-style: normal;
        font-weight: 400;
        line-height: 27.996px;
    }
    @media (min-width: 696px) {
        .faq-list div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        } 
    }
</style>
