---
const { link } = Astro.props;
---

<div class="card ">
    <div class="bg"></div>
    <div class="card-body">
        <h2>Mashable</h2>
        <p>
            <slot />
        </p>
    </div>
    <a href={link}>
        <span>Read article</span>
        <i></i>
    </a>
</div>
<style>
    .card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        border: 1px solid var(--gray);
        border-radius: 23px;
        overflow: hidden;
        justify-content: space-between;
    }
    .card .bg {
        width: 0%;
        height: 100%;
        background: var(--main);
        position: absolute;
        z-index: 9;
        transition: width 0.2s ease-in-out;
    }
    .card:hover .bg {
        width: 100%;
    }
    .card-body {
        padding: 28px 40px 0px 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        z-index: 10;
    }
    .card-body h2 {
        color: white;
        font-weight: bold;
        height: 28px;
        font-size: 28px;
    }
    .card-body p {
        color: var(--white, #fff);
        font-size: 17px;
        line-height: 26px;
    }
    .card a {
        border-top: 1px solid var(--gray);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 14px;
        text-decoration: none;
        color: white;
        z-index: 10;
    }
    .card a span {
    }
    .card a i {
        width: 28px;
        height: 28px;
        background: url(../../assets/icons/href.svg) center no-repeat;
    }
    @media (min-width: 696px) {
        .card {
            width: 350px;
        }
    }
</style>
<script>
    // const cards = document.querySelectorAll(".card-scroll");
    // window.addEventListener("scroll", function () {
    //     cards.forEach((card) => {
    //         let bounding = card.getBoundingClientRect();
    //         if (
    //             bounding.top >= 0 &&
    //             bounding.left >= 0 &&
    //             bounding.right <=
    //                 (window.innerWidth ||
    //                     document.documentElement.clientWidth) &&
    //             bounding.bottom <=
    //                 (window.innerHeight ||
    //                     document.documentElement.clientHeight)
    //         ) {
    //             card.classList.add('active')
    //         } else {
    //             card.classList.remove('active')
    //         }
    //     });
    // });
</script>
