---

---
<div class="container">
    <slot/>
</div>
<style>
    .container{
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        gap: 0px;
        overflow: hidden;
        max-width: 1512px;
        background: #ffffff;
    }
</style>