---
const { img, title, desc } = Astro.props;
---

<div>
    <img src={img} alt={title} />
    <h4>{title || "#error"}</h4>
    <span>{desc}</span>
</div>

<style>
    div {
        display: inline-flex;
        flex-direction: column;
        gap: 0px;
        width: 310px;
        height: 415px;
        font-family: var(--font);
        justify-content: space-between;
        color: var(--bg);
    }
    div img {
        width: 310px;
        margin-bottom: 10px;
        aspect-ratio: 1/1;
    }
    div h4 {
        font-size: 25px;
        font-weight: 500;
        margin: 10px 0px;
        padding: 0px 3px;
    }
    div span {
        color: var(--gray);
        font-size: 19px;
        padding: 1px 10px;
    }
</style>
