---

---

<div>
    <div id="slider-list" class="list">
        <slot/>
    </div>
    <div class="control">
        <button class="prev"></button>
        <button class="next"></button>
    </div>
</div>

<style>
    .list{
        display: flex;
        gap: 20px;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    .control{
        display: flex;
        justify-content: flex-start;
        gap: 25px;
        padding: 20px 0px;
    }
    .control button{
        width: 28px;
        height: 28px;
        padding: 16px;
        background-color: transparent;
        background-image: url(../../assets/icons/arrow.svg);
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid var(--gray);
        border-radius: 100%;
    }
    .control .prev{
        rotate: -180deg;
    }
    @media (min-width: 696px) {
        .list{
        }
    }
</style>

<script >
    const sliderList = document.querySelectorAll('#slider-list'),
          next = document.querySelectorAll('.next'),
          prev = document.querySelectorAll('.prev');

    function scroll(x){
        sliderList.forEach(el=>el.scrollBy(x,0))
        
    }
    next.forEach(el=>el.onclick = ()=> scroll(330))
    prev.forEach(el=>el.onclick = ()=> scroll(-330))
    </script>
